<p>
{{x-select action="tagYouAreIt" disabled=isDisabled
  multiple=true
  content=folks
  selection=it
  optionLabelPath="content.name"
  title=title
  required=isRequired
  autofocus=hasAutofocus
  name=attrName
  form=attrForm
  size=attrSize}}
</p>
<p>Selected:</p>
<ul>
{{#each model as |selection|}}
  <li>{{selection.name}}</li>
{{else}}
  <li>(None)</li>
{{/each}}
</ul>
<p>All options:</p>
<ul>
{{#each folks as |folk|}}
  <li>{{folk.name}} - <a href="#" {{action "removeFolk" folk}}>Remove Folk</a></li>
{{else}}
  <li>(None)</li>
{{/each}}
</ul>
