<p>
{{x-select action="tagYouAreIt" disabled=isDisabled
  content=folks
  selection=it
  optionLabelPath="content.name"
  prompt="choose one"
  title=title
  required=isRequired
  autofocus=hasAutofocus
  name=attrName
  form=attrForm
  size=attrSize}}
</p>
<p>Selected: {{it.name}}</p>
<p>All options:</p>
<ul>
{{#each folks as |folk|}}
  <li>{{folk.name}} - <a href="#" {{action "removeFolk" folk}}>Remove Folk</a></li>
{{else}}
  <li>(None)</li>
{{/each}}
</ul>
