<p>This example shows how you can set default values for your selections by setting the selected=true property on an option and how these defaults are impacted by changes to the dynamic content in your list of options.</p>
<hr>
<h2>Select a Car Make</h2>
<p>Default set to option two (Honda)</p>
<p>
  {{#x-select value=make onChange=(action "setMake") class="spec-car-make" as |xs|}}
    {{#xs.option value=ford}}Ford{{/xs.option}}
    {{#xs.option value=honda selected=true}}Honda{{/xs.option}}
    {{#xs.option value=toyota}}Toyota{{/xs.option}}
    <option>Not Selected</option>
  {{/x-select}}
</p>
<p class="spec-selected-make">Selected Make: {{make.name}}</p>
<hr>

<h2>Select a Car Model</h2>
<p>Default set to the first option in the dynamic list</p>
<p>
  {{#x-select value=carModel onChange=(action "setCarModel") class="spec-car-model" as |xs|}}
    {{#each make.models as |carModel index|}}
      {{#if index}}
        {{#xs.option value=carModel}}{{carModel.name}}{{/xs.option}}
      {{else}}
        {{#xs.option value=carModel selected=true}}{{carModel.name}}{{/xs.option}}
      {{/if}}
    {{/each}}
    <option>Not Selected</option>
  {{/x-select}}
</p>
<p class="spec-selected-model">Selected Model: {{carModel.name}}</p>
<hr>

<h2>Select a Car Trim Option</h2>
<p>Default set to the first option in the dynamic list</p>
<p>
  {{#x-select value=trim onChange=(action "setTrim") class="spec-car-trim" as |xs|}}
    {{#each carModel.trimOptions as |trim index|}}
      {{#if index}}
        {{#xs.option value=trim}}{{trim.name}}{{/xs.option}}
      {{else}}
        {{#xs.option value=trim selected=true}}{{trim.name}}{{/xs.option}}
      {{/if}}
    {{/each}}
    <option>Not Selected</option>
  {{/x-select}}
</p>
<p class="spec-selected-trim">Selected Trim: {{trim.name}}</p>
<hr>

<p>An explicit value overrides any defaults.</p>
<p>Here, the model (initialized as Ford) is overriding the default to select the first option in the list (Toyota).</p>
<p>
  {{#x-select value=model onChange=(action "updateField") class="spec-autopopulated-make-field" as |xs|}}
    {{#each makes as |make index|}}
      {{#if index}}
        {{#xs.option value=make}}{{make.name}}{{/xs.option}}
      {{else}}
        {{! Would default to the first option if model is not set}}
        {{#xs.option value=make selected=true}}{{make.name}}{{/xs.option}}
      {{/if}}
    {{/each}}
    <option>Not Selected</option>
  {{/x-select}}
</p>
<p class="spec-selected-make-from-model">Selected Make: {{model.name}}</p>

<p>An explicit value overrides any defaults.</p>
<p>Here, the selectedQuantity (initially 0) is overriding the default to select the first option in the list (5).</p>
<p>
  {{#x-select value=selectedQuantity onChange=(action "updateSelectedQuantity") class="spec-autopopulated-quantity-field" as |xs|}}
    {{#each quantities as |quantity index|}}
      {{#if index}}
        {{#xs.option value=quantity}}{{quantity}}{{/xs.option}}
      {{else}}
        {{! Would default to the first option if quantity is not set}}
        {{#xs.option value=quantity selected=true}}{{quantity}}{{/xs.option}}
      {{/if}}
    {{/each}}
    <option>Not Selected</option>
  {{/x-select}}
</p>
<p class="spec-selected-quantity">Selected Quantity: {{selectedQuantity}}</p>
